
.body{
    float: left;
    height: 95vh;
    width: 95vw;
}
.head{
    float: left;
    height: 15%;
    width: 100%;
    background-color: brown;
}
.center{
    float: left;
    height: 75%;
    width: 100%;
    background-color: blue;
    outline: solid;
}
.footer{
    float: left;
    height: 10%;
    width: 100%;
    background-color: lightgreen;
    outline: solid;
}
.menu{
    float: left;
    height: 100%;
    width: 20%;
    background-color: gray;
    outline: solid;
}
.side{
    float: right;
    height: 100%;
    width: 25%;
    background-color: yellow;
}
.ma{
    float: left;
    height: 50%;
    width: 100%;
    background-color: tomato;
    outline: solid;
}